{   
    /*
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }]
    ]
    */
    "presets": ["react-app"]
}

